[Unit]
Description=SDER API server
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/yarn-v1.22.5/bin/yarn start
WorkingDirectory=/home/sder/sderAdmin
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
